* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

.app {
  height: 50%;
}

ul {
  list-style: none;
}

.app > ul {
  box-sizing: border-box;
  height: 100%;
  padding: 30px 15px;
}

.nodeLabel {
  align-items: "center";
  background-color: #1967d2;
  border-radius: 4px;
  box-shadow: 0 12px 24px -6px rgba(0, 0, 0, .25), 0 0 0 1px rgba(0, 0, 0, .08);
  color: #fff;
  display: inline-grid;
  font-size: 14px;
  gap: 8px;
  grid-template-columns: auto auto;
  padding: 4px 8px;
  pointer-events: none;
}
